html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
    font-family: var(--font-main);
	font-weight: var(--font-bold);
	font-size: var(--font-size);
	line-height: var(--line-height);
}

.title {
	font-family: var(--font-accent);
	font-size: 40px;
	line-height: normal;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 60px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: normal;
	color: var(--text-color);
	margin: 0 auto;
	border: 1px solid var(--Black, #151618);
	background: #fff;
	line-height: normal;
	font-weight: 300;
}