:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: 'Open Sans', sans-serif;
	--font-accent: 'Cormorant', serif;
	--font-bold: 300;
	--font-size: 20px;
	--line-height: 150%;

	--page-bg: #fff;
	--text-color: #151618;
	--accent: #fff;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}